
.app {
   background-image: url(./img/Fondo1.gif); 
   background-position: center, center;
   background-repeat: no-repeat;
   background-size:cover;
   height: 100vh;
   overflow: auto;
   background-attachment:unset;
}

.login {
   background-image: url(../src/img/fondo-login-1.jpg);
   background-position: center, center;
   background-repeat: no-repeat;
   background-size:cover;
   height: 100vh;
}