
.app {
   background-image: url(./img/rym-gif.gif);
   background-position: center, center;
   background-repeat: no-repeat;
   background-size:cover;
   height: 100vh;
}

.login {
   background-image: url(../src/img/fondo-login-1.jpg);
   background-position: center, center;
   background-repeat: no-repeat;
   background-size:cover;
   height: 100vh;
}