.titulo{
    position: absolute;
    top: 0px;
    left: 40%;
    letter-spacing: 1cqb;
    font-family: RickyMorty;
    color:rgb(153, 255, 0);
    text-shadow: 1px 1px 1px rgb(0, 0, 0),  1px 1px 10px rgb(0, 0, 0);
    font-size: 40px;
}