@font-face {
    font-family: RickyMorty;
    src: url('../../../Fuente_letra/get_schwifty.ttf');
}

.HOME{
    padding: 0% 0% 0% 0.7%;
    
    background: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    backdrop-filter: blur(1px); /* Efecto de desenfoque */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    position: absolute;
    top: -6px;
    left: 43%;
    letter-spacing: 1cqb;
    font-family: RickyMorty;
    color:rgb(153, 255, 0);
    text-shadow: 1px 1px 1px rgb(0, 0, 0),  1px 1px 10px rgb(0, 0, 0);
    font-size: 40px;
}
