.App {
   text-align: center;
   display: flex;
   background-image: url(../src/img/R.jpeg);
   background-position: center, center;
   background-repeat: no-repeat;
   background-size:cover;
   height: 100vh;
   
}
